<?xml version="1.0"?>
<model>
    <name>smarty</name>
    <version>1.0</version>
    <sdf version="1.8">model.sdf</sdf>

    <author>
        <name>DHBW Smart Rollerz</name>
        <email>info@dhbw-smartrollerz.org</email>
    </author>

    <description>
        Smarty.
    </description>
</model>
